[project]
	description = Extends Flex button component to have iOS-like badge icon.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yong Su (jeantimex)
[access "refs/for/refs/*"]
	read = group user/Yong Su (jeantimex)
	push = group user/Yong Su (jeantimex)
	label-Code-Review = -2..+2 group user/Yong Su (jeantimex)
	label-Verified = -1..+1 group user/Yong Su (jeantimex)
	rebase = group user/Yong Su (jeantimex)
	removeReviewer = group user/Yong Su (jeantimex)
	submit = group user/Yong Su (jeantimex)
[access "refs/heads/*"]
	read = group user/Yong Su (jeantimex)
	create = group user/Yong Su (jeantimex)
	push = +force group user/Yong Su (jeantimex)
	pushMerge = group user/Yong Su (jeantimex)
[access "refs/tags/*"]
	push = +force group user/Yong Su (jeantimex)
	pushTag = group user/Yong Su (jeantimex)
	pushSignedTag = group user/Yong Su (jeantimex)
